/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #fff;
  display: flex;
  min-height: 100vh;
}

body, input, button, textarea {
  font: 600 18px Roboto, sans-serif;
}

