<div class="container">
  <img src="../../assets/backgroundAbout.jpg" alt="Fundo background about" class="imgBackground">

  <div class="content">
    <app-header></app-header>
    
    <div class="about">
      <h1>Sobre nós</h1>

      <div class="informations">
        <div class="think">
          <h2>Como surgiu a ideia</h2>
          <p>A ideia surgiu através do hype que teve o jogo Among Us, nosso 
            fundador percebeu que diversas pessoas estavam 
            sem conseguir jogar através do discord/teamspeak pois muitas 
            das vezes não conhecia alguém ou pessoas suficientes para 
            fechar a sala, logo o mesmo foi procurar grupos no facebook nas 
            quais as pessoas se reuniam para jogar, porém como todos 
            sabem grupo de facebook acaba virando uma bagunça e fica bem 
            difícil de realmente encontrar pessoas com o intuito de jogar uma 
            partida saudável, juntando essa vontade de resolver esse 
            problema e conseguir proporcionar a experiência que é jogar 
            jogos com outras pessoas se comunicando surgiu a ideia da 
            GamersZone.</p>
        </div>
        
        <div class="plataform">
          <h2>Sobre a plataforma</h2>
          <p>Nossa plataforma é focada em reunir os mais diversos players 
            para jogarem juntos através de canais de comunicação 
            (discord/teamspeak/etc.), na GamersZone você terá a oportunidade 
            de descobrir diferentes grupos para jogarem os mais diversos jogos, 
            seja ele GTA V, Among Us, entre outros. Basta clicar na aba Jogos e 
            navegar através dos canais disponíveis, também estamos lançando uma
            aba de Filmes na qual você poderá encontrar grupos para assistirem 
            os mais diversos filmes, você poderá entrar no discord e assistir 
            através de uma tela compartilha, netflix ou algo do tipo. 
            Gostariamos de pedir a todos que apoiem a plataforma para 
            continuarmos a trazer novidades, obrigado e seja bem vindo!!</p>
        </div>
      </div>
    </div>
    
    <app-footer></app-footer>
  </div>
</div>